name: ZunRdp
on: 
  workflow_dispatch:
    inputs:
      vmid:
        description: 'VM ID'
        required: true
      owner:
        description: 'Owner Name'
        required: true

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Preparing User
        run: |
          net user ZunRdp ZunRdp@2026@Cloud /add /y
          net localgroup Administrators ZunRdp /add
          
      - name: Setting up ZunRdp
        run: |
          Invoke-WebRequest -Uri "https://raw.githubusercontent.com/${{ github.repository }}/main/zunrdp.ps1" -OutFile "zunrdp.ps1"
          powershell -ExecutionPolicy Bypass -File "zunrdp.ps1" -OWNER_NAME "${{ github.event.inputs.owner }}"
          
